/*

.draggable {
	position: absolute;
	width: 100px;
	height: 100px;	
	cursor: move;
}

.draggable .body {
	position: absolute;
	top: 20px; left: 20px; right: 20px; bottom: 20px;
}

*/
.resizer {
	position: relative;
	width: 20px; height: 20px;
}

.topleft {
	position: absolute; left: 0; top: 0;
	cursor: nw-resize;
}
.topcenter {
	position: absolute; left: 50%; top: 0;
	cursor: n-resize;
}
.topright {
	position: absolute; right: 0; top: 0;
	cursor: ne-resize;
}
.topcenter .resizer {
	position: relative; left: -10px;
}

.bottomleft {
	position: absolute; left: 0; bottom: 0;
	cursor: sw-resize;
}
.bottomcenter {
	position: absolute; left: 50%; bottom: 0;
	cursor: s-resize;
}
.bottomright {
	position: absolute; right: 0; bottom: 0;
	cursor: se-resize;
}
.bottomcenter .resizer {
	position: relative;
	left: -10px;
}

.centerleft {
	position: absolute; left: 0; top: 50%;
	cursor: w-resize;
}
.centerright {
	position: absolute; right: 0; top: 50%;
	cursor: e-resize;
}
.centerleft .resizer {
	position: relative;
	top: -10px;
}
.centerright .resizer {
	position: relative;
	top: -10px;
}
